SERVER

DB_URL="protocol://username:[password]@host:port/database?sslmode=disable"
SERVER_PORT="3294"
RABBIT_SERVER="amqp://username:password@host:port/"
PLATFORM="dev"
SECRET="[[generate with <openssl rand -base64 64>]]"

SERVER from docker container
name file .env-docker
DB_URL=>replace host with 'host.docker.internal'
RABBIT_SERVER =>replace host with '172.17.0.1'
set psql config file => listen_addresses = '*'
remove all quotes from the env file

CLIENT

SERVER_URL="http://localhost:3294"