SERVER

DB_URL="protocol://username:[password]@host:port/database?sslmode=disable"
SERVER_PORT="3294"
PLATFORM="dev"
SECRET="[[generate with <openssl rand -base64 64>]]"

CLIENT

SERVER_URL="http://localhost:3294"